{% extends "covidapp/base.html" %}
{% block content %}
{% load static %}
{% load has_group %}
{% if request.user|has_group:"Epidemiologists" or request.user|has_group:"Staff" %}
<form class="form-horizontal" method="POST">
    {% csrf_token %}
    <div class="jumbotron">
        <div class="row spacer">
            <div class="col-2">
                <div class="input-group">
                    {{ patientForm.as_p }}       
                </div>
            </div> 
        </div> 

        
    <div class="row spacer">
        <div class="col-4 offset-2"></div>
            <button type="submit" class="btn btn-block btn-primary">Create</button>
        </div>
    </div>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static "js/myjs.js" %}"></script>
{% else %}
<h3>Please Login First</h3>
{% endif %}
{% endblock %}