{% extends "covidapp/base.html" %}
{% block content %}
{% load has_group %}
{% if request.user|has_group:"Epidemiologists" or request.user|has_group:"Staff" %}
<div class="jumbotron">
    <div class="container">

    <div class="header">
        <h2 class="posttitle loader">Details for patient {{ patient.name }} with identification number {{ patient.idn }}</h2>
    </div>
    

   
        <table>
            <thead>
                <th>Patient Name</th>
                <th>Patient ID number</th>
                <th>Date of Birth</th>
                <th>Date of Case Confirmation</th>
                <th>Case Number</th>
            </thead>
        
            <tr>
                <th>{{ patient.name }}</th>
                <td>{{ patient.idn }}</td>
                <td>{{ patient.date_of_birth }}</td>
                <td>{{ patient.date_of_confirm }}</td>
                <td>{{ patient.case_number }}</td>
            </tr>
        </table>
    
    

    
        <table>
            <thead>
                <th>Location</th>
                <th>Address</th>
                <th>District</th>
                <th>X Coordinate</th>
                <th>Y Coordinate</th>
                <th>Date From</th>
                <th>Date To</th>
                <th>Details</th>
                <th>Category</th>
            </thead>
            
            {% for loc in patient.locations.all %}
            <tr>
                <td><a href="{% url 'plocation_detail' pk=loc.pk %}">{{ loc.location_name }}</a></td>
                <td>{{ loc.address }}</td>
                <td>{{ loc.district }}</td>
                <td>{{ loc.grid_x }}</td>
                <td>{{ loc.grid_y }}</td>
                <td>{{ loc.date_from }}</td>
                <td>{{ loc.date_to }}</td>
                <td>{{ loc.details }}</td>
                <td>{{ loc.category }}</td>
            </tr>
            {% endfor %}
        </table>

        
        

        <p><a class="btn btn-primary" href="{% url 'patient_edit' pk=patient.pk %}">Edit Patient Information</a></p>
        <p><a class="btn btn-primary" href="{% url 'patient_remove' pk=patient.pk %}">Delete Patient</a></p>
        <p><a class="btn btn-primary" href="{% url 'query' pk=patient.pk %}">Query</a></p>
        

    </div>




</div>

<div class="container">
    <div class="header">
        <h2 class="posttitle loader">Add past locations for the patient</h2>
    </div>
<form  method="POST" class="post-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="save btn btn-default">Save</button>
</form>
</div>





{% else %}
<h3>Please Login First</h3>
{% endif %}
{% endblock %}